*{
    padding:0;
    margin:0;
    background-image: url(i.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.headflex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headcontainer{
    height:11vh;
    /* width: 100%; */
    /* border:1px solid #7ce009; */
}
.logo{
    height: 99%;
    width:  70%;
    /* border:1px solid red; */
    /*margin-left: 35%;
    margin-top:2%;*/
    /* background-image: url(q.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: ;
    background-attachment: fixed; */
}
.img{
    background-size: cover;
    max-width: 20%;
    margin-left: 35%;
}
.score{
    height: 99%;
    width:29.4%;
    /* border:1px solid black; */
}
.scoreflex{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.h1{
    font-size: 30px;
}
.scimg{
    background-size: cover;
    max-width:36%;
}
.logoflex{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}



/*container idea and book*/

.container{
    height: 100vh;
    max-width: 100%;
    /* border:1px solid red; */
    /* background-image: url(j.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}
.ideas{
    height:60%;
    width: 20%;
    /* border:2px solid rebeccapurple; */
    margin-top: 6%;
    margin-left:5%;
    background-image: none;
    box-shadow: -2px 0px 5px 5px #ebcb15;
    background-color: rgba(255, 255, 255, 0.774);   
}
.containerflex{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start ;
    align-items:flex-start ;
}
.book{
    height:60%;
    width:55%;
    /* border:1px solid royalblue; */
    margin-top: 6%;
    box-shadow: -2px 0px 5px 5px #f1ef6e ;
    margin-left: 10%;
    /* margin-right: ; */
    /* background-image: none; */
    background-color:rgba(255, 255, 255, 0.774);
    background-image: none;

}
.bookflex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.insidebook{
    /* border:1px solid black; */
    height:80%;
    width:90%;
    background-image: none;
    margin-left: 5%;
}
.insideflex{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items:center;
}


/*question and option*/
.question{
    background-image: none;
    font-size: 1.9em;
}
.answer{
    background-image: none;
    font-size: 2em;
}
#option1{   
    background-image: none;
    font: 1.5em;
}
.choices{
    height: 80%;
    width:100%;
    /* border: 1px  solid red; */
    background-image: none;
}
.button{
    margin-top:-5%;
    margin-left: 80%;
    background-image: none;
}
/* .flexchoice{ */
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* justify-content: flex-start; */
/* } */